// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;
$xxxl: 1599.98px;
// $hd: 1919.98px;

// Fonts
$main-font: "Cera Round Pro", sans-serif;
$txt-font: "Open Sans", sans-serif;

// Colors body
$header-bg-color: #fff;
$body-bg-color: #fff;
$offer-bg-color: rgb(242, 246, 248);

// Bg
$bg-dark: #000;
$bg-white: #fff;
$bg-gray: #f0f0f0;
$bg-blue: #00b6bd;
$bg-blue-2: rgb(0, 153, 200);

// Colors
$dark: #000;
$white: #fff;
$gray: rgb(85, 85, 85);
$smoky: #F2F6F8;
$purple: #C81059;
$blue: rgb(0, 153, 200);

// Box shadows
$border-rad-btn: 5px;